<sly
    data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.all @ categories='component-development.subscription'}" />

<div id="app-cover">
    <div id="app">
        <div id="layer1" class="layer">
            <div id="front-message">Do you want to recieve our weekly newsletter?</div>
            <div id="buttons-cover">
                <div class="action-button" id="yes-button">
                    <div class="action">
                        <span>Yes</span>
                    </div>
                </div>
                <div class="action-button" id="no-button">
                    <div class="action">
                        <span>No</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="layer2" class="layer">
            <div class="heading">Please enter your email address</div>
            <div class="back-button">
                <svg class="svg-icon" viewBox="0 0 20 20">
                    <path fill="none" d="M8.388,10.049l4.76-4.873c0.303-0.31,0.297-0.804-0.012-1.105c-0.309-0.304-0.803-0.293-1.105,0.012L6.726,9.516c-0.303,0.31-0.296,0.805,0.012,1.105l5.433,5.307c0.152,0.148,0.35,0.223,0.547,0.223c0.203,0,0.406-0.08,0.559-0.236c0.303-0.309,0.295-0.803-0.012-1.104L8.388,10.049z"></path>
                </svg>
            </div>
            <form method="post" action="/bin/subscribe" class="input-box-cover">
                <input type="text" id="email-address" name="email" placeholder="Type here" spellcheck="false" autocomplete="off">
                <button id="submit" type="submit">Submit</button>
            </form>
            <div class="working">
                <span class="blink">Working ...</span>
                <div class="close-button">
                    <svg class="svg-icon" viewBox="0 0 20 20">
                        <path fill="none" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div id="layer3" class="layer">
            <div class="heading">Please let us know the reason</div>
            <div class="back-button">
                <svg class="svg-icon" viewBox="0 0 20 20">
                    <path fill="none" d="M8.388,10.049l4.76-4.873c0.303-0.31,0.297-0.804-0.012-1.105c-0.309-0.304-0.803-0.293-1.105,0.012L6.726,9.516c-0.303,0.31-0.296,0.805,0.012,1.105l5.433,5.307c0.152,0.148,0.35,0.223,0.547,0.223c0.203,0,0.406-0.08,0.559-0.236c0.303-0.309,0.295-0.803-0.012-1.104L8.388,10.049z"></path>
                </svg>
            </div>
            <form method="post" action="/bin/subscribe" class="input-box-cover">
                <textarea name="reason" id="reason" maxlength="500" placeholder="Type here" spellcheck="true" autocomplete="off"></textarea>
                <button id="submit" type="submit">Submit</button>
            </form>
            <div class="working">
                <span class="blink">Working ...</span>
                <div class="close-button">
                    <svg class="svg-icon" viewBox="0 0 20 20">
                        <path fill="none" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>