p#experience {
    font-size: 2.2em;
    font-family: sans-serif;
    color: rgba(255, 78, 78, 0.56);
    margin: 15px 4%;
}

p#rating {
font-size: 1.5em;
color: cadetblue;
margin: 15px 4%;
}
p#experiencetext {
font-size: 1.5em;
color: cadetblue;
margin: 15px 4%;

}
div#experiencetext {
font-size: 1.3em;
color: darkgray;
margin: 0px 38px;
}
#rating span {
line-height: 35px !important;
color: #234567 !important;
}
p#reviewer {
margin: 0px 50px;
color: grey;
}
div#reviewtext {
padding: 5% 3% 0% 3%;
color: rgba(207, 47, 47, 0.7);
font-size: 1.4em;
font-family: initial;
}
#mvideo {
padding-left: 150px;
    padding-top: 41px;
    border: 1px solid #456722;
    padding-bottom: 41px;
}
div#moviedata {
    margin: 0px 150px;
}
#moviedata p {
    color: brown;
    font-size: 1.3em;
}
#moviedata span {    font-size: 2.0em;
    font-family: fantasy;
    line-height: 50px !important;
    color: rgb(211, 234, 154) !important;
}
