<sly
	data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientlib.css @ categories='component-development.breadcrumb'}" />

<sly
	data-sly-use.breadcrumb="${'org.redquark.aem.componentdevelopment.core.Breadcrumb'}">
<!--/* Breadcrumb Component */-->
<ol class="breadcrumb" data-sly-test="${breadcrumb.navigationList}"
	data-sly-list.element="${breadcrumb.navigationList}">
	<li data-sly-test="${!elementList.last}"><a
		href="${element.path}.html"> ${element.title ||
			element.navigationTitle || element.name} </a></li>
	<li data-sly-test="${elementList.last}"><a> ${element.title ||
			element.navigationTitle || element.name} </a></li>
</ol>
<!--/* Breadcrumb Component */--> </sly>