<sly
	data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientlib.all @ categories='component-development.accordion'}" />

<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	<h2>Accordion</h2>
</sly>

<sly
	data-sly-use.multi="${'org.redquark.aem.componentdevelopment.core.models.AccordionModel'}">
	<div data-sly-list.accordions="${multi.accordions.listChildren}">
		<button class="collapsible">${accordions.title}</button>
		<div class="content">${accordions.body @ context='html'}</div>
	</div>
</sly>