<div class='wrapper row4 bdged overlay" style="bacground-image:url('/content/dam/travel/matt-howard-185303.jpg');">
	<footer id="footer" class="hoc clear">
    	<!-- ###################################################################################################### -->
		<div class="center btmspace-50">
        	<h2 class="heading">Summit Getaways</h2>
            <nav>
            	<ul class="nospace inline pushright uppercase">
                	<li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
          			<li><a href="#">Home</a></li>
          			<li><a href="#">Contact</a></li>
          			<li><a href="#">Terms</a></li>
          			<li><a href="#">Privacy</a></li>
          			<li><a href="#">Cookies</a></li>
          			<li><a href="#">Disclaimer</a></li>
        		</ul>
            </nav>
        </div>
        <div class="one_third">
        <h6 class="heading">Magna mattis nibh ut</h6>
        <figure><a href="#"><img class="borderedbox inspace-10 btmspace-15" src="/content/dam/travel/dawid-zawila-232726.jpg" alt=""></a>
        	<figcaption>
            	<h6 class="nospace font-x1"><a href="#">Proin commodo semper</a></h6>
            	<time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
          	</figcaption>
        </figure>
      	</div>
      	<div class="one_third">
        	<h6 class="heading">Potenti ullamcorper</h6>
        	<p class="nospace btmspace-30">Vel dolor vestibulum consequat nullam porttitor suspendisse potenti.</p>
        	<form method="post" action="#">
          		<fieldset>
            		<legend>Newsletter:</legend>
            		<input class="btmspace-15" type="text" value="" placeholder="Name">
            		<input class="btmspace-15" type="text" value="" placeholder="Email">
            		<button type="submit" value="submit">Submit</button>
          		</fieldset>
        	</form>
      	</div>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Summit Getaways</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
