<header>
    <div class="header-banner" style="background-image: url('/content/dam/learning/header/india-beautiful.jpg');">
        <h1>Visit India</h1>
    </div>
    <div class="clear"></div>
    <nav>
        <div class="site-title">India</div>
        <ul>
        	<li><a href="#">Home</a></li>
            <li><a href="#">Archive</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        <ul>
    </nav>
</header>